@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --dark-navy: #242742;
    --gray: hsl(231, 7%, 60%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 240px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-navy);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 375px;
    height: 842px;
    background-color: white;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 812px;
    background-color: white;
}

.pic-container {
    width: 100%;
    max-width: 375px;
    height: 284px;
    object-fit: fill;
    border-radius: 0 0 10px 10px;
    background-image: url('/images/mobile1.svg');
    background-size: cover;
}

.textfield {
    width: 40%;
    max-width: 1000px;
    min-width: 327px;
    height: 478px;
    margin-top: 35px;
    color: var(--dark-navy);
}

.updated {
    width: 327px;
    height: 120px;
}

.item-checks {
    display: block;
    flex-direction: row-reverse;
    width: 310px;
    height: 150px;
    text-align: left;
}

.updated, h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-left: 5px;
}

.para {
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--dark-navy);
}

.para-confirmation {
    width: 360px;
    height: 96px;
    margin: -18px 5px 0 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--dark-navy);
    padding: 0px 6px 0 15px;
}

.top, .middle, .bottom {
    display: flex;
    width: 300px;
    height: 48px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--dark-navy);
    margin-bottom: 13px;
}

.top {
    justify-content: center;
    margin-top: 20px;
}

.middle {
    justify-content: center;
}

.small-checkmark {
    width: 21px;
    height: 21px;
    margin-right: 12px
}

.secondary-check {
    justify-content: flex-start;
    width: 64px;
    height: 64px;
}

.secondary-check-container {
    width: 327px;
    height: 65px;
    margin: 120px 0 40px 0;
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--dark-navy);
    margin-left: 120px;
    line-height: 3px;
    text-align: center;
}

.email-span {
    margin-left: 3px;
    font-weight: bold;
}

.confirmation {
    color: var(--dark-navy);
    padding: 10px;
    line-height: 25px;
}

.email-form {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 327px;
    height: 150px;
}

/* FORM */

.email-address {
    font-size: 13px;
    font-weight: bolder;
}

/* Error formatting */

input {
    border: 1px solid tomato;
    border-radius: 10px;
    color: tomato;
    background-color: rgb(255, 230, 225);
    font-size: 16px;
    width: 327px;
    height: 56px;
    padding-left: 18px;
    margin-bottom: 23px;
    margin-top: 10px;
}

.invalid {
    font-size: 13px;
    font-weight: bolder;
    color: tomato;
    margin-left: 120px;
}

.valid {
    color: tomato;
}

::placeholder {
    color: tomato;
}

/* End of error formatting */

/* Non-error formatting (remove this if email is invalid) */

input, .input-default {
    border: 1px solid lightgray;
    border-radius: 10px;
    color: var(--gray);
    background-color: white;
    font-size: 16px;
    width: 327px;
    height: 56px;
    padding-left: 18px;
    margin-bottom: 23px;
    margin-top: 10px;
}

::placeholder, .placeholder-default {
    color: var(--gray);
}

.valid {
    font-size: 13px;
    font-weight: bolder;
    color: white;
    margin-left: 120px;
}

/* End of non-error formatting */

button {
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    width: 327px;
    height: 56px;
    background-color: var(--dark-navy);
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
}


.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 80px;
    margin-top: 260px;
}

.dismiss {
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    width: 327px;
    height: 56px;
    background-color: var(--dark-navy);
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

button:hover {
    background-color: tomato;
    transition: 1.5s;
    cursor: grab;
}


/* label span {
    display: none;
}

form.invalid label span {
    display:block;
} */



@media(min-width: 1300px) {
    .card {
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        min-width: 928px;
        height: 641px;
        background-color: white;
        margin-right: -100px;
        border-radius: 35px;
    }

    .textfield {
        display: inline-block;
        width: 40%;
        min-width: 376px;
        height: 478px;
        color: var(--dark-navy);
        margin-top: -1200px;
    }

    .para {
        width: 100%;
        min-width: 376px;
        margin-bottom: 30px;
        margin-top: 25px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: var(--dark-navy);
    }

    .bullet {
        width: 100%;
        min-width: 376px;
        margin-left: 160px;
        margin-right: 0;
        margin-top: 30px;
    }

    .updated {
        width: 370px;
        height: 120px;
        margin-left: 55px;
        margin-top: 20px;
    }

    h2 {
        font-size: 56px;
    }

    .pic-container {
        flex-direction: inline-block;
        width: 400px;
        height: 593px;
        border-radius: 15px;
        margin-left: 530px;
        margin-top: 22px;
        margin-bottom: -230px;
        object-fit: cover;
        background-image: url('./images/desktop1.svg');
    }

    img {
        display: inline-block;
        border-radius: 30px;
    }

    .small-checkmark {
        width: 21px;
        height: 21px;
        margin-left: 65px;
        margin-right: -150px;
        margin-top: 30px;
    }

    .top, .middle, .bottom {
        display: flex;
        width: 300px;
        height: 24px;
        line-height: 22px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: var(--dark-navy);
        margin-bottom: 13px;
        margin-left: 80px;
    }

    .bottom {
        margin-left: -6px;
    }

    form {
        width: 376px;
        height: 446px;
        margin-left: 57px;
        margin-top: 60px;
    }

    button {
        align-content: center;
        justify-content: center;
        border-radius: 5px;
        width: 376px;
        height: 56px;
        background-color: var(--dark-navy);
        border-radius: 12px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        color: white;
    }

    input, .input-default {
        border: 1px solid lightgray;
        border-radius: 10px;
        color: var(--gray);
        background-color: white;
        font-size: 16px;
        width: 376px;
        height: 56px;
        padding-left: 18px;
        margin-bottom: 23px;
        margin-top: 10px;
    }

    span {
        margin-left: 170px;
    }
    
    

    
    
}